version: "3.7"

services:
  traefik:
    image: traefik:v1.7.14-alpine
    ports:
      - 80:80
      - 443:443
    env_file:
      - /opt/traefik/.env
    networks:
      - {{ traefik_network_name }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/traefik.toml
      - /opt/traefik/acme.json:/acme.json
    deploy:
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.frontend.rule=Host:traefik.skynewz.dev"
        - "traefik.port=8080"
        - "traefik.enable=true"
        - "traefik.frontend.auth.basic.users={{ username }}:{{ non_interpolated_password }}"
      update_config:
        parallelism: 1
        delay: 5s
        order: start-first
      resources:
        limits:
          memory: 1024M

networks:
  {{ traefik_network_name }}:
    external: true
